.container {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

mat-form-field {
    width: 100%;
    min-width: 30vw;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card-content {
    flex-direction: column;
    align-items: center;
}

.login-button-wrapper {
    display: flex;
    justify-content: center;
}

.signup-buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
}

.button {
    width: 70%;
}

mat-divider {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}