<div class="flex h-full w-full flex-row items-center">
  <div class="me-10 flex min-w-fit flex-col">
    <h1 class="text-4xl text-white">Plan ahead with Travel Planner</h1>
    <h2 class="mt-8 text-2xl font-light text-white">
      Your flights, accommodation, and spots to visit, all in one place.
    </h2>
    <h2 class="mt-2 text-2xl font-light text-white">
      Make plans in Travel Planner, and share them with friends - for free!
    </h2>
    <button
      class="border-1 mt-10 w-48 cursor-pointer rounded-full border-black bg-gray-100 px-5 py-2 text-lg text-black transition-all duration-300 ease-in-out hover:bg-gray-400"
      (click)="showToast()"
    >
      Get started &#8594;
    </button>
  </div>

  <div class="flex justify-center">
    <img
      src="assets/img/plane-silhouette.png"
      alt="plane-silhouette"
      class="w-5/6 invert"
    />
  </div>
</div>
