<div class="container">
  <div class="descripton-container">
    <div class="blurred-glass">
      <div class="text-container">
        <h1>Plan ahead with Travel Planner</h1>
        <h2>
          Your flights, accommodation, and spots to visit, all in one place.
        </h2>
        <h2>
          Make plans in Travel Planner, and share them with friends - for free!
        </h2>
      </div>
      <button class="sign-up-now-btn">Sign up now &#8594;</button>
    </div>
  </div>

  <div class="image-container">
    <img
      src="assets/img/plane-silhouette.png"
      alt="plane-silhouette"
      class="plane-image"
    />
  </div>
</div>
