// Include bootstrap icons webfonts
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    margin: 0;
    background: linear-gradient(90deg, #03a9f4, #2e3c8d);
    font-family: 'Roboto', sans-serif;
}