.container {
    height: 100vh;
    width: 10vw;
}

.nav-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
    height: 80vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.auth-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}